<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Ваша комната</title>
    <script type="text/javascript" src="/scripts/room.js"></script>

</head>
<body onload="main()">

<label for="chat-area">
    <textarea id="chat-area" readonly="true"></textarea>
</label>

<form>
    <label for="chat-sendArea">
        <input id="chat-sendArea">
    </label>
    <label>
        <input type="button" id="chat-sendButton" value="Отправить">
    </label>
</form>

<a id="chat-addHref"></a>

</body>
</html>